<form action="/" method="post">
  <input type="text" name="x3" value="0"><br>
  <input type="text" name="x5" value="0"><br>
  <input type="text" name="x7" value="0"><br>
  <input type="submit" value="Submit">
</form>
<br><br>
<% if !!@igros %>
  <strong>Your number was <%= @igros.result %>.</strong>
<% end %>
